
{{ define "main" }}
<p style="color: green;">list.html</p>
<main>
    <article>
        <p style="color: greenyellow;">list.html / header / h1 / .Title</p>
        <header>
            <h1>{{.Title}}</h1>
        </header>
        <p style="color: greenyellow;">list.html / header / h1 / .Title end</p>

        <p style="color: yellow;">list.html / .Content <i style="color: rgba(228, 238, 89, 0.623);">(pulls from the markdown content of the corresponding _index.md)</i></p>
        <!-- "{{.Content}}" pulls from the markdown content of the corresponding _index.md -->
        {{.Content}}
        <p style="color: yellow;">list.html / .Content end</p>
    </article>

    <p style="color: rgba(209, 221, 33, 0.774);">list.html / range .Pages is {{ .Pages }}</p>
    <ul>
    <!-- Ranges through content/posts/*.md -->
    {{ range .Pages }}
        <li>
            <a href="{{.Permalink}}">{{.Date.Format "2006-01-02"}} | {{.Title}}</a>
        </li>
    {{ end }}
    </ul>
    <p style="color: rgba(209, 221, 33, 0.774);">list.html / range .Pages end</p>

    
</main>
<p style="color: green;">list.html end</p>
{{ end }}

