<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ block "title" . }} {{ .Site.Title }} {{ end }}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/diagnostics.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body>

    <p class="header-nav">baseof.html / header nav</p>
    <header>
        <nav class="header-menu">{{ partial "nav" . }}</nav>
    </header>
    <br><p class="header-nav">baseof.html / header nav end</p>

    <p class="base-body">baseof.html / body</p>

    <!-- Code that all your templates share, like a header -->
    {{ block "main" . }}
      <p class="base-body">baseof.html / block main</p>
      <!-- The part of the page that begins to differ between templates -->
      <p class="base-body">baseof.html / end block main</p>
    {{ end }}

    {{ block "footer" . }}
        <p class="base-footer">baseof.html / block footer</p>
        <!-- More shared code, perhaps a footer but that can be overridden if need be in  -->
        <p class="base-footer">baseof.html / block footer end</p>
    {{ end }}

    <p class="base-body">baseof.html / body end P.S. the .Site.BaseURL is {{ .Site.BaseURL }}</p>
  </body>
</html>
