
{{ define "main" }}
<p class="list-main">list.html</p>
<main>
    <article>
        <p class="list-h1">list.html / header / h1 / .Title</p>
        <header>
            <h1>{{.Title}}</h1>
        </header>
        <p class="list-h1">list.html / header / h1 / .Title end</p>

        <p class="list-content">list.html / .Content <i>(pulls from the markdown content of the corresponding _index.md)</i></p>
        <!-- "{{.Content}}" pulls from the markdown content of the corresponding _index.md -->
        {{.Content}}
        <p class="list-content">list.html / .Content end</p>
    </article>

    <p class="list-pages">list.html / range .Pages is {{ .Pages }}</p>
    <ul>
    <!-- Ranges through content/posts/*.md -->
    {{ range .Pages }}
        <li>
            <a href="{{.Permalink}}">{{.Date.Format "2006-01-02"}} | {{.Title}}</a>
        </li>
    {{ end }}
    </ul>
    <p class="list-pages">list.html / range .Pages end</p>

    
</main>
<p class="list-main">list.html end</p>
{{ end }}

