<ul>
    <!-- add home menu entry -->
    <li><a href="{{ .Site.BaseURL }}">Home</a></li>

    <!-- add entries for anything that has front matter menu: mainmenu100 -->
    {{ range .Site.Menus.mainmenu100 }}
    <li>
        <a href="{{ .URL }}">
            {{ .Name }}
        </a>
    </li>
    {{ end }}

    <!-- content sections -->
    <li><a href="{{ .Site.BaseURL }}/other">SECTION: other</a></li>
    <li><a href="{{ .Site.BaseURL }}/recipes">SECTION: recipes</a></li>

    
</ul>

<br>

<p>another menu without explicit entries</p>
<ul>
    {{ range .Site.Menus.mainmenu200 }}
    <li>
        <a href="{{ .URL }}">
            {{ .Name }}
        </a>
    </li>
    {{ end }}
</ul>
